@charset "UTF-8";
body {
    color: rgb(54, 13, 0);
}
a {
    text-decoration: none;
}
#image-categories img{
    height: 400px;
}

#categories {
    margin-top: 70px;
    margin-bottom: 70px;
}
.btn-kind {
    width: 100%;
    padding: 8px;
}
/* card */
.image-item {
    width: 100%;
    height: 100%;
}